<ul class="menu vertical">
  <li>
    <a href="/products">Products</a>
    <ul class="nested vertical menu">
      {% for product in contents.products %}
        <li>{% link_to product %}</li>
      {% endfor %}
    </ul>
  </li>
</ul>
