<li>
  <a href="/products">Products</a>
  <ul class="nested vertical medium-horizontal menu">
    {% for product in contents.products %}
      <li>{% link_to product %}</li>
    {% endfor %}
  </ul>
</li>
