---
title: Aluminum
slug: aluminum
position: 2
listed: true
published: true
is_layout: false
seo_title: Aluminum
editable_elements:
  main/content: <div class="wysiwyg-text-align-right"><strong><img class="wysiwyg-float-right"
    title="Zinc___Aluminum_Die_Cast.jpg" alt="undefined" src="/samples/assets/Zinc___Aluminum_Die_Cast.jpg"></strong></div><div>We
    select casting suppliers based on part size, production volume, and technical
    requirements, making sure that foundries produce according to their capabilities
    and strengths.<br></div><br>Our vendor base produces:<br><ul><li>Sand castings
    on manual and automatic horizontal molding lines.<br></li><li>Permanent mold castings
    up to 100 pounds.<br></li><li>Die castings.<br></li></ul>We frequently organize
    and supply parts that require tooling sharing between different foundries - parts
    that are required in aluminum, brass and/or iron. We make sure this happens efficiently,
    seamlessly and expediently.
  main/heading: Aluminum
---
{% extends "layouts/application" %}