---
title: Aluminum
slug: aluminum
position: 2
listed: true
published: true
is_layout: false
seo_title: Aluminum
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="AL_Casting.jpg" alt="undefined"
    src="/samples/assets/AL_Casting.jpg">We select casting suppliers based on part
    size, production volume, and technical requirements, making sure that foundries
    produce according to their capabilities and strengths.</div><div><br></div><div>Tooling
    is frequently shared with foundries producing parts in differerent metals - efficient
    and seamlessly.<br></div><br>Our vendor base produces:<br><ul><li>Sand castings
    on manual and automatic horizontal molding lines.<br></li><li>Permanent mold castings
    up to 100 pounds.<br></li><li>Die castings.<br></li></ul>
  main/heading: Aluminum
---
{% extends "layouts/application" %}