---
title: Aluminum
slug: aluminum
position: 2
listed: true
published: true
is_layout: false
seo_title: Aluminum
editable_elements:
  main/content: <p>We select casting suppliers based on part size, production volume, and technical requirements, making sure that foundries
    produce according to their capabilities and strengths.</p>
    <p>Tooling is frequently shared with foundries producing parts in differerent metals - efficient
    and seamlessly.</p><p>Our vendor base produces:</p><ul><li>Sand castings
    on manual and automatic horizontal molding lines.<br></li><li>Permanent mold castings
    up to 100 pounds.<br></li><li>Die castings.<br></li></ul>
  main/heading: Aluminum
  main/featured_image: /samples/assets/AL_Casting.jpg
---
{% extends "layouts/page" %}
