---
title: Copper
slug: copper
position: 4
listed: true
published: true
is_layout: false
seo_title: Copper
editable_elements:
  main/content: <h4 class="wysiwyg-text-align-left">Copper Alloys&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img title="casta.jpg"
    alt="undefined" src="/samples/assets/casta.jpg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h4>We
    supply copper alloys produced in&nbsp;<div>sand and permanent mold, including:<br><br><ul><li>Brass&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br></li><li>Aluminum and silicon
    bronze<br></li><li>High conductivity copper.<br></li></ul>Sand castings are produced
    on squeezer and automatic lines.  Permanent mold castings allow for fine surfaces
    and extreme conductivity.<br><br>We provide tin and silver plating as well as
    machining and assembly.</div>
---
{% extends "layouts/application" %}