---
title: Copper
slug: copper
position: 3
listed: true
published: true
is_layout: false
seo_title: Copper
editable_elements:
  main/content: <p>We supply copper alloys produced in sand and permanent mold, including:</p><ul><li>Brass</li><li>Aluminum and silicon
    bronze</li><li>High conductivity copper</li></ul><p></p><p></p><p></p><p></p>Sand
    castings are produced on squeezer and automatic lines, machining optional.<br>
  main/heading: Copper Alloys
  main/featured_image: /samples/assets/Brass_casting.JPG
---
{% extends "layouts/page" %}
