---
title: Copper
slug: copper
position: 3
listed: true
published: true
is_layout: false
seo_title: Copper
editable_elements:
  main/content: "<img class=\"wysiwyg-float-right\" title=\"casta.jpg\" alt=\"undefined\"
    src=\"/samples/assets/casta.jpg\"> We supply copper alloys produced in sand and
    permanent mold, including:<ul>\r\n        <li>Brass&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;&nbsp; <br>\r\n        </li>\r\n        <li>Aluminum and silicon
    bronze <br>\r\n        </li>\r\n        <li>High conductivity copper. <br>\r\n
    \       </li>\r\n    </ul>Sand castings are produced on squeezer and automatic
    lines. Permanent mold castings allow for fine surfaces and extreme conductivity.
    <br>\r\n    <br>We provide tin and silver plating as well as machining and assembly."
  main/heading: Copper Alloys
---
{% extends "layouts/application" %}