---
title: Gray Iron
slug: gray-iron
position: 1
listed: true
published: true
is_layout: false
seo_title: Gray Iron
editable_elements:
  main/content: <p class="wysiwyg-text-align-justify"><img class="wysiwyg-float-right"
    title="home-images-1.jpg" alt="undefined" src="/samples/assets/home-images-1.jpg">We
    excel in challenging parts.  Small castings with extremely tight tolerances and
    wall thicknesses below 3mm produced on the fastest molding equipment available.</p><p>Current
    customers manufacture pumps, electrical fittings, hand tools and compressors.</p>
  main/heading: Gray Iron
---
{% extends "layouts/application" %}