---
title: Gray Iron
slug: gray-iron
position: 2
listed: true
published: true
is_layout: false
seo_title: Gray Iron
editable_elements:
  main/content: <h4>Gray Iron<strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></h4><p
    class="wysiwyg-text-align-left"><strong><img class="wysiwyg-float-right" title="range_box.jpg"
    alt="undefined" src="/samples/assets/range_box.jpg"></strong></p><p>We excel in
    challenging parts.  Small castings with extremely tight tolerances and wall thicknesses
    below 3mm - or large castings weighing hundreds of pounds and containing numerous
    cores.  Hand molding, horizontal production lines, Disamatic.</p><p>Current customers
    manufacture pumps, compressors, transmissions and vehicles on and off the road.</p>
---
{% extends "layouts/application" %}