---
title: Malleable Iron
slug: malleable-iron
position: 0
listed: true
published: true
is_layout: false
seo_title: Malleable Iron
editable_elements:
  main/content: <div>The ductile iron with the best machining performance is malleable iron.&nbsp; We work with the best malleable
    iron foundries in the world, producing exceptional fully functional and machinable
    thin-walled sections are required. Applications also include larger products of
    older design.<br></div><br>Whether domestic supply or imports - our partners assure
    fast delivery of certified product. Our spectrum ranges from industrial to military
    application - ferritic or pearlitic malleable iron.<br>
  main/heading: Malleable Iron
  main/featured_image: /samples/assets/11-70-adjustable.jpg
---
{% extends "layouts/page" %}
