---
title: Steel (large Complex)
slug: steel-large-complex
position: 4
listed: true
published: true
is_layout: false
seo_title: Steel (large Complex)
editable_elements:
  main/content: <p>Large complex castings with numerous cores are designed simultaneously - taking advantages of
    technical know-how, that allows integration of numerous sections by designing
    cores within cores within cores...</p><p>Unique designs for the energy sector
    (oil and gas valves, turbine casings, nozzle chambers and kaplan blades) combined
    with extensive pre-production simulation as well as non-destructive testing ensure
    our customers from gaining a competitive edge.</p>
  main/heading: Steel (Large Sand Castings)
  main/featured_image: /samples/assets/Selector_Housing.png
---
{% extends "layouts/page" %}
