---
title: 'Steel '
slug: steel
position: 7
listed: true
published: true
is_layout: false
seo_title: 'Steel '
editable_elements:
  main/content: "<h4>Steel (Investment Cast)</h4>\r\n<div>We currently provide steel
    castings made through the lost wax process, also known as investment castings.
    \ This process is capable of producing the tightest tolerances and most exceptional
    surface quality.  Alloys include carbon steels, stainless steels and exotic grades.<br></div>"
---
{% extends "layouts/application" %}