---
title: Zinc
slug: zinc
position: 6
listed: true
published: true
is_layout: false
seo_title: Zinc
editable_elements:
  main/content: <p><img class="wysiwyg-float-left" title="Die_casting.jpg" alt="undefined"
    src="/samples/assets/Die_casting.jpg">Mid to High volume applications providing
    exceptional surface quality and precise tolerances.&nbsp; We specialize in program
    management of tooling transfer to our foundries.<br></p>
  main/heading: Al / Zn (Die castings)
---
{% extends "layouts/application" %}