---
title: Zinc
slug: zinc
position: 6
listed: true
published: true
is_layout: false
seo_title: Zinc
editable_elements:
  main/content: <p>Mid to High volume applications providing exceptional surface quality and precise tolerances.&nbsp; We specialize in program
    management of tooling transfer to our foundries.</p>
  main/heading: Al / Zn (Die castings)
  main/featured_image: /samples/assets/Die_casting.jpg
---
{% extends "layouts/page" %}
