---
title: Zinc
slug: zinc
position: 6
listed: true
published: true
is_layout: false
seo_title: Zinc
editable_elements:
  main/content: <img class="wysiwyg-float-right" title="Zinc___Aluminum_Die_Cast.jpg"
    alt="undefined" src="/samples/assets/Zinc___Aluminum_Die_Cast.jpg"><p>High volume
    applications with exceptional surface quality due to die casting process.  Small
    to medium size castings.  Due to costs of tooling, applications are usually higher
    volumes.</p>
  main/heading: Zinc
---
{% extends "layouts/application" %}