---
title: About
slug: about
position: 1
listed: true
published: true
is_layout: false
seo_title: About
editable_elements:
  main/content: "<div>A single supplier capable of meeting needs with ferrous, non-ferrous
    castings and machined components.</div><div><br></div><div>We provide domestic
    and offshore solutions.</div><div><br></div><div>Our focus is on providing quality
    products according to YOUR time table.&nbsp; We offer options of Consignment or
    Expediting to assure your demands are met.</div>"
  main/heading: Choice Castings
---
{% extends "layouts/page" %}
