---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
  <div class="wide-layout">
    <div class="row">
      <div class="medium-6 columns">
        <h2>Why Choice Castings?</h2>
        <p>At Choice Castings, we are best in class at providing solutions for your casting needs. We work with many quality foundries giving us the opportunity to provide you the best choice for your casting requirements. With a firm understanding of your critical needs, Choice Castings can work on sourcing solutions, including, buying quality parts on time at the right price.</p>
      </div>
      <div class="medium-6 columns">
        <img class="thumbnail" src="http://placehold.it/750x250">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="medium-4 columns text-center">
        <h3>Need Expedited Service?</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns text-center">
        <h3>Quality Concerns?</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns text-center">
        <h3>Offshoring Headaches?</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
    </div>
    <hr>
    <div class="row column text-center">
      <h3>In Stock Items</h3>
    </div>
    <div class="row medium-up-3 large-up-4">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
    </div>

  </div>
{% endblock %}
