---
title: Materials
slug: materials
position: 105
listed: true
published: true
is_layout: false
seo_title: Materials
editable_elements:
  main/content: <h4>Material Choices</h4><br><a href="http://choicecastings.com">MALLEABLE
    IRON</a><br><br>Industrial Castings.  Military Castings.  Fittings.  Fasteners.<br><br><a
    href="http://choicecastings.com">ALUMINUM</a><br><br>Sand Castings.  Permanent
    Mold.  Heat Treating.  Machining.<br><br><a href="http://choicecastings.com">GRAY
    IRON</a><br><br>Sand Castings.  Detailed.  Complex.  Challenging.<br><br><a href="http://choicecastings.com">STEEL
    (LARGE COMPLEX)</a><br><br>Complex Valves.  Complex designs.  Cutting edge design
    support.  Complete Testing.<br><br><a href="http://choicecastings.com">COPPER</a><br><br>Sand
    Castings.  Permanent Mold.  Low and High Volume.<br><br><a href="http://choicecastings.com">DUCTILE
    IRON</a><br><br>Large Sand Castings with multiple cores.<br><br><a href="http://choicecastings.com">ZINC</a><br><br>Die
    Castings.<br><br><a href="http://choicecastings.com">STEEL</a><br><br>Investment
    Castings.  Carbon, Alloy and Stainless.

---
{% extends "layouts/application" %}