---
title: Materials
slug: materials
position: 4
listed: true
published: true
is_layout: false
seo_title: Materials
editable_elements:
  main/content: "<div>We can provide raw or machined ferrous
    and non-ferrous castings produced in most commercially available processes.<br></div><div><br></div><div>We
    also supply CNC and screw machined parts in common and exotic materials for industrial
    use.</div><div><br></div><div>Streamline your Supply Chain with Choice Castings!<br></div>"
  main/heading: 'Choice Material Choices'
---
{% extends "layouts/page-with-children" %}
