---
title: Offshoring Headaches?
slug: offshoring-headaches
position: 4
listed: false
published: true
redirect_url: "/solutions/offshore-management"
is_layout: false
editable_elements:
  main/heading: How can Choice Castings help you?
  main/content: |-
    <h2>Welcome to Choice Castings</h2>
                <p>Opportunities for Foundries to add regular orders.  Industrial and commercial casting solutions.  Not just castings or machined parts, or .  We provide metal castings when you need them at the price you need.</p>
                <p>We focus on know-how, leverage and strategy.  To allow you to focus on your manufacturing and sales.</p>
---
{% extends parent %}