---
title: InStock Items
slug: products
position: 10
listed: false
published: true
is_layout: false
seo_title: InStock Items
editable_elements:
  main/heading: ''
  main/content: Lorem ipsum
---
{% extends "layouts/application" %}
{% block main %}
  <div class="row">
    <div class="column content page">
    <h1>{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}{% endeditable_text %}</h1>
    {% editable_text content %}Lorem ipsum{% endeditable_text %}
    <div class="rowexpanded">
      <div class="row wide small-up-2 large-up-4 text-center gutter-small">
        {% editable_model products %}
          {% for product in contents.products %}
            <div class="column">
              <div class="card clickable" data-url="{% path_to product %}">
                <img src="{{ product.image.url | resize: '200x200#' }}">
                <div class="title card-divider" data-equalizer-watch>
                  <p class="lead">{{ product.title }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endeditable_model %}
      </div>
    </div>
    </div>
  </div>
{% endblock %}


