---
title: Casting Sourcing
slug: casting-sourcing
position: 3
listed: true
published: true
is_layout: false
seo_title: Casting Sourcing
editable_elements:
  main/content: <h4><img class="wysiwyg-float-right" title="produkt4_small.gif" alt="undefined"
    src="/samples/assets/produkt4_small.gif"></h4><p>Choice Castings has built a network
    of high quality and competitive sources to produce and machine industrial castings.<br><br>Our
    experience and know-how combined with significant buying power with our vendors
    assure you of excellent value and exceptional service.<br><br>We provide support
    in casting design and identify the ideal source to produce each particular casting.<br><br>We
    work with our vendors to assure their needs are being met while meeting your goals,
    whether it is to improve quality, shorten lead-times or reduce pricing.<br><br>We
    look forward to your call or email!<br></p>
  main/heading: Casting Sourcing
---
{% extends "layouts/application" %}