---
title: Expedited Services
slug: expedited-services
position: 0
listed: true
published: true
is_layout: false
seo_title: Expedited Services
editable_elements:
  main/content: "<p>Our standard supply occurs in 2-6 weeks after receipt of order.&nbsp;
    However, we maintain a flexible production schedule that allows opportunities
    to expedite to 1-2 weeks.</p><p>if expediting gets to be the norm, we will fit
    a stocking program to assist your supply.<br></p><p><br></p>"
  main/heading: Expedited Services
---
{% extends "layouts/page" %}
