---
title: Inventory Management
slug: inventory-management
position: 6
listed: true
published: true
is_layout: false
seo_title: Inventory Management
editable_elements:
  main/content: "<h4>Inventory Management</h4>"
---
{% extends "layouts/application" %}