---
title: Supply Planning
slug: supply-planning
position: 5
listed: true
published: true
is_layout: false
seo_title: Supply Planning
editable_elements:
  main/content: <p>Do you only need one or a few functional prototypes and want to
    avoid expensive tooling?</p><p>Did a large cast section of your machine break
    and the part is old and you have no idea whom to get in touch with?<br><br>We
    can reverse engineer or use a 3D file to mill molding sand and pour a casting
    in iron, aluminum or steel.<br><br>This can be done usually within one to two
    weeks of receipt of order and technical detail (broken part, 3D file).  And no
    tooling requirement, saving costs and time.<br><br>Since we mill out a large 40"
    by 30" section of sand, this process is most effective with larger castings weighing
    10 to 1,000 pounds.<br></p>
  main/heading: Replacement parts without Tooling
---
{% extends "layouts/page" %}
