---
title: Supply Planning
slug: supply-planning
position: 5
listed: true
published: true
is_layout: false
seo_title: Supply Planning
editable_elements:
  main/content: "<h4>Replacement parts without Tooling</h4>\r\n<p>Did a large cast
    section of your machine break?  The part is old and you have no idea whom to get
    in touch with?<br><br>We use the failed component to reverse engineer the item
    or create a 3D file for your approval.  We then use this data to mill a large
    block of no-bake sand and pour iron, aluminum or steel.<br><br>This can be done
    usually within two weeks of receipt of order and broken component, but we have
    been known to provide a functional replacement casting within 3 business days.
    \ And no tooling requirement, saving costs and time.<br><br>Since we mill out
    a large 3' x 2' section of sand, this process is only effective with larger castings
    weighing 10 to 1,000 pounds.<br></p>"
---
{% extends "layouts/application" %}