---
title: Nest Caps
slug: nest-caps
position: 0
listed: true
published: true
is_layout: false
seo_title: Nest Caps
editable_elements:
  main/content: <h4>Nest Caps</h4><p><img class="wysiwyg-float-right" title="stock-items-nested-caps3.jpg"
    alt="undefined" src="/samples/assets/stock-items-nested-caps3.jpg"></p><p>Nest
    Caps / Stacking Caps in Inventory&nbsp; &nbsp;<br><br>Forging equivalents - Cast
    Steel.<br><br>2" or 2½" square tubing.<br><br>Wholesale or samples.   <a href="http://choicecastings.com">Available
    locally in Michigan.</a><br></p>
---
{% extends "layouts/application" %}