---
title: Nest Caps
slug: nest-caps
position: 0
listed: true
published: true
is_layout: false
seo_title: Nest Caps
editable_elements:
  main/content: <p>Nest Caps / Stacking Caps in Inventory <br><br>Forging equivalents
    - Cast Steel.<br><br>2" or 2½" square tubing.<br><br>Wholesale or samples.   Available
    locally in Michigan.<br></p>
---
{% extends "layouts/application" %}