---
title: Spike Grids
slug: spike-grids
position: 3
listed: true
published: true
is_layout: false
seo_title: Spike Grids
editable_elements:
  main/content: <h4>Toothed Connectors Grids for Timber Constructions</h4><p>We produce
    and stock spiked connectors commonly used in timber construction, also known as
    timber connectors, spike grids, toothed connectors.  Zinc plated or unplated.<br><br>Due
    to our precision and fine sand in our sand casting process, our malleable iron
    parts weigh far less than those from our competitors - while meeting the same
    standards!<br><br>Available Sizes are 50mm, 65mm, 80mm, 95mm and 115 mm, one-sided
    and both sided, small and large holes, details can be seen <a href="http://choicecastings.com">here</a>.<br><br>&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img
    title="16045412-18847463-thumbna..." alt="undefined" src="/samples/assets/16045412-18847463-thumbnail.jpg">&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img
    title="16045412-18847480-thumbna..." alt="undefined" src="/samples/assets/16045412-18847480-thumbnail.jpg">&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;One-Sided Wood Connector&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; Two-Sided Wood Connector<br></p>
---
{% extends "layouts/application" %}