---
title: Wing Nuts
slug: wing-nuts
position: 1
listed: true
published: true
is_layout: false
seo_title: Wing Nuts
editable_elements:
  main/content: "<h4>Wing Nuts</h4>\r\n<p class=\"wysiwyg-text-align-right\"><img
    class=\"wysiwyg-float-right\" title=\"IMG_0782.jpg\" alt=\"undefined\" src=\"/samples/assets/IMG_0782.jpg\"></p><p
    class=\"wysiwyg-text-align-center\">NEW!!!  We now also carry wing screws to match
    the larger brass wing nuts (see picture below).  1\" wing span and thread length
    of 5/8\".  Thread type 832.<br><br> <br><br>We continue to carry a variety of
    wing nuts, wing screws and custom hardware for your purchase.  We stock 832 threaded
    wing nuts in malleable (without zinc plating) and in brass with a wing span of
    3/4\".<br><br><br><br> <br><br><br><br> <br><br>&nbsp; &nbsp; &nbsp;<img title=\"16045412-18847650-thumbna...\"
    alt=\"undefined\" src=\"/samples/assets/16045412-18847650-thumbnail.jpg\">&nbsp;Zinc
    Plated Cast Iron Wing Nut and Wing Screw&nbsp;<img title=\"16045412-18847569-thumbna...\"
    alt=\"undefined\" src=\"/samples/assets/16045412-18847569-thumbnail.jpg\"><br></p>"
---
{% extends "layouts/application" %}